@charset "UTF-8";

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --text-button: #473404;
  --text-input: #a9afb9;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;

  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-base);
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--background);
  justify-content: space-between;
}

.container {
  max-width: 50%;
}

.logo {
  padding-left: 30px;
  padding-top: 30px;
}

.card {
  margin-top: 30px;
  margin-left: 74px;
  width: 500px;

  background-color: var(--form-background);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card header {
  width: 335px;
  margin-top: 35px;
}

.card header h1 {
  color: var(--text-title);
  font-weight: 600;
  display: inline;
}

.card header p {
  font-family: 'Roboto';
  font-weight: 500;
  padding-top: 5px;
}

.card .email {
  padding-top: 27px;
}

.card .password {
  padding-top: 20px;
}

.card .email p,
.card .password p {
  font-weight: 500;
}

.card .email input,
.card .password input {
  width: 335px;
  height: 44px;
  background-color: transparent;
  border-radius: 4px;
  appearance: none;
  border: 1px solid #868686;
  padding-left: 40px;
}

.card .email input {
  background-image: url(./images/mail.svg);
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.card .password input {
  background-image: url(./images/lock.svg);
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

.card .email input:focus,
.card .password input:focus {
  appearance: none;
  border: none;
  outline: 3px solid #ffc632;
}

.card .email input:focus {
  background-image: url(./images/mail-focus.svg);
}

.card .password input:focus {
  background-image: url(./images/lock-focus.svg);
}

.card .checkboxAndForgotPassword {
  width: 335px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .checkboxAndForgotPassword .divCheckbox {
  display: flex;
  align-items: center;
}

.card .checkboxAndForgotPassword .divCheckbox input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #868686;
  border-radius: 4px;
  margin-right: 5px;
}

.card .checkboxAndForgotPassword .divCheckbox input:checked {
  border: none;
  background-color: var(--primary-color);
  background-image: url(./images/check.svg);
}

.card .checkboxAndForgotPassword .divCheckbox label {
  font-family: 'Roboto';
  font-weight: 400;
}

.card .checkboxAndForgotPassword a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
}

.card button {
  font-weight: 600;
  font-size: 18px;

  margin-top: 20px;
  width: 335px;
  height: 50px;

  background-color: var(--primary-color);
  color: var(--text-button);
  border-radius: 4px;
  border: none;
}

.card button:hover,
.card .checkboxAndForgotPassword .divCheckbox input:hover {
  cursor: pointer;
}

.card .registration {
  width: 335px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;
  font-size: 14px;
}

.card .registration p {
  color: var(--primary-color);
  font-weight: 400;
}

.card .registration a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.sideImage {
  height: 100vh;
}

@media (max-width: 1100px) {
  .sideImage {
    display: none;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .card {
    background-color: var(--background);
    width: 100%;
    padding-left: 50px;
    margin-top: 20px;
  }

  .card header {
    margin-top: 20px;
  }
}
